/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:root {
  --peach: #E7816B;
  --light-peach: #FFAD9B;
  --features-text-bg: #FDF3F0;
  --black: #1D1C1E;
  --white: #FFFFFF;
  --dark-grey: #333136;
  --light-grey: #F1F3F5;
  font-family: 'Jost', sans-serif;
}

main {
  max-width: 1100px;
  margin: 0 auto;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;


}

.nav__logo {
  width: 200px;

}

.nav__links--container a {
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 1.2rem;
  margin-right: 30px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;


}


.nav__links--container a:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--dark-grey);
  color: var(--peach);
  transition: 0.1s ease-in-out;

}

/* Hero Setion */

.hero {

  background: var(--peach);
  border-radius: 10px;
  margin: 0 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  overflow: hidden;
  background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;

}

.light__button {
  text-decoration: none;
  padding: 15px 20px;
  background: var(--light-grey);
  color: var(--dark-grey);
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.light__button:hover {
  background: var(--light-peach);
  transition: 0.2s ease-in-out;
  color: var(--light-grey);
}

.hero__text--container {
  height: 350px;
  width: 60%;
  padding-left: 2rem;
  z-index: 20;

}

.hero__headline {
  font-size: calc(1.3rem + 1.6vw);
  color: var(--white);
  margin-bottom: 30px;
  line-height: 1.1;
  font-weight: 500;
}

.hero__description {
  margin-bottom: 50px;
  color: var(--light-grey)
}

.phone {
  z-index: 10;
}

.hero__image img {
  margin-bottom: -200px;
  min-width: 500px;



}


/* design section */
.services {
  margin: 80px 20px 120px 20px;
  display: grid;
  ;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "web app"
    "web graphic";
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  height: 600px;



}

.web__design {
  grid-area: web;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/home/desktop/image-web-design-large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.app__design {
  grid-area: app;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/home/desktop/image-app-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.graphic__design {
  grid-area: graphic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/home/desktop/image-graphic-design.jpg");
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.web__design:hover {
  box-shadow: inset 0 0 0 1000px rgba(197, 76, 20, 0.438);
  transition: 0.2s ease-in-out
}

.app__design:hover {
  box-shadow: inset 0 0 0 1000px rgba(197, 76, 20, 0.438);
  transition: 0.2s ease-in-out
}

.graphic__design:hover {
  box-shadow: inset 0 0 0 1000px rgba(197, 76, 20, 0.438);
  transition: 0.2s ease-in-out
}

.services__title {
  color: var(--light-grey);
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-weight: 400;
}

.services__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__link {
  display: inline;
  text-decoration: none;
  color: var(--light-grey);
  font-size: 1.5rem;
  font-weight: 300;
}

.arrow {
  display: inline;
  margin-left: 5px;

}


/* Attributes Section */

.attributes {

  margin: 80px 20px 120px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.attribute__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.attribute__description {
  text-align: center;
}

.attribute__image {
  margin-bottom: 20px;
}

.attribute__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CTA ******************************/

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -150px;
}

.cta__container {
  width: 90%;
  background-color: var(--peach);
  padding: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta__left {
  width: 400px;
}


.cta__headline {
  color: var(--light-grey);
  font-size: calc(1rem + 2vw);
  line-height: 1.2;
  margin-bottom: 20px;
}

.cta__description {
  color: var(--light-grey);
}

/* Footer *******************************/

.footer {
  margin: 80px auto 0 auto;
  background: var(--black);
  padding: 140px 50px 50px 50px;
}

.footer__top--right p,
.location__details,
.footer__bottom--links--container {
  color: var(--light-grey);
}



.footer__logo--dark {
  width: 200px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.footer__top--right {
  display: flex;
}

.footer__top--right p {
  margin-right: 30px;
}

.footer__top--right p:hover {
  color: var(--peach);
  transition: o.2s ease-in-out;
  cursor: pointer;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__bottom--left {
  display: flex;

}


.footer__bottom--right i {
  margin-right: 10px;
}

.footer__bottom--right i:hover {
  color: var(--peach);
  transition: o.2s ease-in-out;
  cursor: pointer;
}

.location__two {

  margin-left: 50px;

}

/* Web Design Page ***************************/

.design__hero {
  background: var(--peach);
  border-radius: 10px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/web-design/desktop/bg-pattern-intro-web.svg");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 50px;
}

.design__hero--contents {
  max-width: 500px;
  text-align: center;
}

.design__hero--title {
  color: var(--light-grey);
  font-size: calc(1rem + 2vw);
  line-height: 1.3;
}


.design__hero--description {
  color: var(--light-grey);
  font-size: calc(1rem + .3vw);
  font-weight: 300;
}

/* features grid ***********************/

.design__features--grid {
  margin: 100px 20px;
}

.features__grid--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.features__card--title {
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-weight: 300;

  text-transform: uppercase;
  margin-bottom: 20px;
}

.features__card--description {
  font-weight: 300;
}

.features__card--text {
  text-align: center;
  padding: 40px 20px;
  background: var(--features-text-bg);
  border-bottom-right-radius: 20px;
  ;
  border-bottom-left-radius: 20px;
  ;
}

.features__card--text:hover {
  background: var(--peach);
  transition: 0.2s ease-in-out;
  color: var(--light-grey);
}

.features__grid--card:hover {
  cursor: pointer;
}

/* services two web.html */

.services__two {
  margin: 100px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  cursor: pointer;
}

.services__text {
  padding: 70px;
}


.services__title--two {
  color: var(--light-grey);
  letter-spacing: 2px;
  font-size: calc(1rem + 1.5vw);
  font-weight: 400;
}

.services__link--two {
  display: inline;
  text-decoration: none;
  color: var(--light-grey);
  font-size: calc(.9rem + 1vw);
  font-weight: 300;
}












































/* Responsive Nav */

@media (max-width: 650px) {

  nav {
    position: relative;
  }




  .hamburger__menu {
    position: absolute;
    top: 1.4rem;
    right: 1em;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  .burger__line {
    width: 100%;
    height: 2px;
    background: var(--dark-grey);
    margin-bottom: 5px;
    transition: 0.3s ease-in-out;
  }

  .nav__links--container {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--dark-grey);
    padding: 50px;
    transform: translateY(-150%);
    transition: 0.3s ease-in-out;

  }

  .nav__links--container a {
    margin-bottom: 20px;
    color: var(--light-grey);
    text-transform: uppercase
  }

  .nav__links--container a:hover {
    border-bottom: none;
  }

  .show {
    transform: translateY(0);

  }

  .clicked .line-1 {

    transform: rotate(-45deg) translate(-5px, 6px)
  }

  .clicked .line-2 {
    opacity: 0;
  }

  .clicked .line-3 {

    transform: rotate(45deg) translate(-2.9px, -5px);
  }


}

.clicked__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.438);
  opacity: 0;
  z-index: -1;


}

.cover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

/* responsive hero */
@media (max-width: 869px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;



  }

  .hero__text--container {
    text-align: center;
    width: 100%;
    padding: 40px 80px;
  }



  .phone {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    margin-top: -120px;
  }


}

@media (max-width: 570px) {
  .hero {
    margin: 0;
  }

  .hero__text--container {
    padding: 40px 20px;
    ;
  }
}


/* Responsive Services */

@media (max-width: 750px) {
  .services {

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      'web'
      "app"
      "graphic";
  }

  /* Responsive Attibutes  */
  .attributes {
    grid-template-columns: repeat(1, 1fr);

  }
}

/* Responsive CTA  */
@media (max-width:800px) {
  .cta__container {
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;


  }



  .cta__left {
    text-align: center;
    width: 100%;
  }

  .cta__right {
    margin-top: 50px;
    text-align: center;
  }
}

/* Responsive Footer */

@media (max-width: 769px) {

  .footer {
    padding: 140px 0px 100px 0px;


  }

  .footer__top {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer__top--left {

    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .footer__top--left img {
    margin-right: 20px;
    5
  }

  .footer__top--right {
    flex-direction: column;
    align-items: center;

  }

  .footer__top--right p {
    margin-bottom: 10px;

  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__bottom--left {
    flex-direction: column;
    align-items: center;
  }

  .location__two {
    margin: 30px 0 30px 0;
  }

  .footer__bottom--links--container {

    text-align: center;


  }
}

/* responsive design hero  *****************/
@media (max-width: 468px) {
  .design__hero {
    padding: 50px 10px;
  }

}

/* responsive features grid ***********************/
@media (max-width: 970px) {
  .features__grid--container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;

  }

  .features__grid--card img {
    width: 100%;
  }


}

/* Responsive Services Two */

@media(max-width: 830px) {
  .services__two {
    grid-template-columns: repeat(1, 1fr)
  }
}